[Unit]
Description=inithooks-lxc: firstboot and everyboot initialization scripts (lxc)
Before=getty@tty1.service getty@tty1.service getty@tty2.service getty@tty3.service getty@tty4.service getty@tty5.service getty@tty6.service getty@hvc0.service
ConditionKernelCommandLine=!noinithooks

[Service]
Type=oneshot
EnvironmentFile=/etc/default/inithooks
ExecStart=/bin/sh -c '${INITHOOKS_PATH}/run'
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=inithooks

[Install]
WantedBy=basic.target
